.deselectedChamp {
    width: 100px;
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    border: solid 1px black;
}

.selectedChamp {
    width: 100px;
    -webkit-filter: grayscale(0%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
    border: solid 1px rgba(216, 176, 0, 0.438);
}

td {
    border: 0;
    padding: 0;
    margin: 0;
}

#itemslots img {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    /*box-shadow: 0 10px 5px black;*/
}

/* removing dotted lines when using tooltips */
[data-tooltip]:not(a,button,input){
    border: none;
}